* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;
}

body {
    padding: 20px;
    margin: 0;
}

.box_animate {
    height: 100%;
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 100px auto 100px;
    transform-style: preserve-3d;

    animation-name: rotate;
}

.child {
    height: 100%;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    padding-top: 75px;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

.front {
    background: red;
    border: solid;
    border-radius: 50%;

    animation-name: square_red;
}

.back {
    background: blue;

    animation-name: square_blue;
}

.animate {
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
}

.child::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background: inherit;
    transform: translateZ(-1px);
    border-radius: inherit;
}

.child::before {
    height: 50%;
    width: 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    transform: translateZ(-25px);
    border-radius: inherit;
    justify-content: center;
}

@keyframes square_red {
    from {
        transform: rotateZ(0deg) translateZ(20px);
        border-radius: 50%;
    }
    to {
        transform: rotateZ(360deg) translateZ(20px);
        border-radius: 0;
    }
}

@keyframes square_blue {
    from {
        transform: rotateZ(360deg) translateZ(-50px) rotateY(180deg);
    }
    to {
        transform: rotateZ(0deg) translateZ(-50px) rotateY(180deg);
    }
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}